<h1 id="page_title">Makers BnB Spaces!</h1>

<section id='spaces_list'>
  <% @spaces.each do |space| %>
    <section id="<%= space.id %>">
      <p>Name: <%= space.name %></p><br>
      <p>Description: <%= space.description %></p><br>
      <p>Price:<%= space.price %></p><br>
      <p>Street:<%= space.street %></p><br>
      <p>City:<%= space.city %></p><br>
      <form action='/making_a_request'>
        <input type='hidden' name= 'space_id' value= '<%= space.id %>'>
        <input type='submit' value= 'Make a request'>
      </form>
    </section>
  <% end %>
</section>
